header{
    background-color: #E2EFDE;
   text-align: center;
   margin: 0px;
   padding: 20px;
   font-size:54px;
   
   }

body{
    background-color: #E2EFDE;
    color: #AAACB0;
    font-size: 20px;
    border: 100%;
}

footer{
    background-color: #B096A7;
    color: #91506C;
   font-size: 16px;
   text-align: center;
   padding: 10px;
   

   }

nav
{
   background-color: #B096A7;
   text-align: center;
   font-size: 24px;
   
}

nav a{
    padding:14px 16px;
    display: inline-block;
    color:#edafb8;
    text-decoration:none;

}


 a:hover{
    background-color: #edafb8;
    color: white;
}

a{
    padding:14px 16px;
    display: inline-block;
    text-decoration:none;
    color: #91506C;

}

.card
  {
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

