figure{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px,20 px;
    margin-right: 20 px;
    margin-left: 20 px;
    border-radius: 8px;
}

.card
  {
    padding: 20px;
    margin: 20px;
    
  }