figure{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px,20 px;
    margin-right: 20 px;
    margin-left: 20 px;
    border-radius: 8px;
}

.card
  {
    padding: 20px;
    margin: 20px;
    
  }

.title{
    background-color: #9684A1;
    color: white ;
    margin: 0px;
   padding: 20px;
   text-align: center;
   font-size:25px;
}

.more{
    text-align: right;
    font-size: 16px;
}