.Row{
  background-color: #AEB0C2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 20px;
  margin: 20px;
  color: white;
}

.Row-left{
  flex-basis: 30%;
  
}
.Row-right{
  flex-basis: 70%;
}

.usPic{
    
  height: 300px;
  padding: 10px;
}